@import url('https://fonts.googleapis.com/css?family=Nunito:400&display=swap');

body {
  margin: 0;
  height: 100vh;
  background: #BFD1D9;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.container {
  background: white;
  width: 50%;
  padding: 2em;
  border-right: 10px;
  height: 5%;
}

.container > h1, img, .price {
    display: inline-block;
    margin: 0;
  }

.price {
  float: right;
  font-size: 1.7em;
  color: #008BF5;
}

.container > img {
    cursor: pointer;
    margin-left: 10px;
    width: 28px;
  }

.container > .info {
  display: none;
  }

.item {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 75% auto;
  text-decoration: none;
  }

.item a:link {
  text-decoration: none;
  color: #008BF5;
  font-size: 1.3em;
}

.subprice {
  text-align: right;
  font-size: 1.2em;
}

.description > p {
  margin: 0;
}
